# Copia este archivo como .env y llena los valores
DB_HOST=localhost
DB_PORT=3306
DB_NAME=banco_avanzado
DB_USER=root
DB_PASS=
JWT_SECRET=cambia_esto_por_una_clave_muy_larga_y_segura_123!
PORT=3000
NODE_ENV=development
