<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clientes">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cuentas">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transacciones">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
